body {
  font-family: 'Open Sans', sans-serif;
}
.grid {
  display: grid;
  grid-template-rows: 5;
  grid-template-columns: 2;
  justify-content: center;
}
.firstName {
  grid-row: 1;
  grid-column: 1;
  margin: 10px;
  width: 250px;
}
.lastName {
  grid-row: 1;
  grid-column: 2;
  margin: 10px;
  width: 250px;
}
.email {
  grid-row: 2;
  grid-column: 1;
  margin: 10px;
  width: 250px;
}
.placeOfBirth {
  grid-row: 2;
  grid-column: 2;
  margin: 10px;
  width: 250px;
}
.phone {
  grid-row: 3;
  grid-column: 1;
  margin: 10px;
  width: 250px;
}
.favoriteFood {
  grid-row: 3;
  grid-column: 2;
  margin: 10px;
  width: 250px;
}
.general {
  grid-row: 4;
  grid-column: 1/3;
  margin: 10px;
  height: 100px;
}
.btn {
  grid-row: 5;
  grid-column: 1/3;
  width: 100px;
  border-radius: 2px;
}
