body {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
}

.image {
  height: 200px;
  width: 200px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
