body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.Movieinfo {
  background-color: darkturquoise;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
